html {
    background: url('/image/grey.jpg') no-repeat center center fixed #000;
    background-size: cover;
}
p {
    font-size: 20px; font-weight: bold;
}

ul  {
    margin-bottom: 140px;
}
div {
    border:3px solid rgb(77, 76, 78);
	width:100%;
	height:100%;
}

img:hover
{
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

#menu {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
#menu li {
    float: left;
    width: 150px;
    position: relative;
}

#menu a {
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    font-weight: bold;
    color: #0e0d0d;
    text-decoration: none;
    background-color: #00CCFF;
    display: block;
    padding-top: 20px;
    padding-right: 120px;
    border: 5px solid #00CCFF;
    text-align: center;
    line-height: 50px;
    margin-right: 2px;
}
#menu a:hover {
    background-color: #0099FF;
}